@charset "UTF-8";
* {
	font-family: 'Nanum Gothic', sans-serif;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

html, body {
	height: 100%;
	margin: 0;
}


header {
	width: 100%;
	height: 150px;
}

.section-home {
	width : 1300px;
	margin: auto;
}

footer {
	width: 100%;
	height: 15%;
  	margin-top: 100px;
}

.content-home {
	height : 300px;
	background-color: black;
	margin: auto;
}

.bx-wrapper {
	margin: 0px auto;
	border: 5px black;
	-webkit-box-shadow: none;
}

a {
	color: black;
	text-decoration: none
}

.footertext {
	text-align: right;
	font-size: 10px;
}

li {
	list-style: none;
}

li a:hover {
	color: #8a8e8b;
}


/* header */

.content {
	width : 1300px;
	height: 70%;
	margin : auto;
}


.logo {
	width: 15%;
	height: 60%;
	margin: 20px;
	margin-bottom : 10px;
	float: left;
}

.search {
	width: 25%;
	height: 35%;
	margin: 35px;
	padding : 5px;
	padding-left: 20px;
	border: 1px solid #ddd;
	font-size: 15px;
	border-radius: 50px;
	outline: none;
}

.top-right {
	float: right;
	display: inline-block;
	margin: 15px;
	font-size: 20px;
}

.top-right>ul>li {
	float: left;
	margin: 15px;
}
.allmenu {
	width : 1300px;
	height: 30%;
	margin: auto;
}

.menu1 {
	width: 1300px;
	height: 45px;
	margin : auto;
}

.menu-bar {
	width : 70%;
	height : 100%;
	font-size: 20px;
	float : left;
}

.menu-bar>ul>li {
	float : left;
	margin: 5px;
	margin-left: 40px;
	margin-right: 40px;
}

.menu-bar1 {
	width: 200px;
	height : 100%;
	float: right;
	font-size: 20px;
	margin-right: 20px;
}

.menu-bar1>ul>li {
	float: right;
}

.suc {
	display: none;
	font-size: 17px;
}

.bef {
	display: block;
	font-size: 17px;
}

/* footer */
.bottom-bar {
	width: 1300px;
	height: 100%;
	margin : auto;
}

.bottom-sub {
	width: 400px;
	float : left;
}
.bottom-sub>a {
	font-size: 12px;
}

.intro {
	width: 800px;
	height: 100%;
	float : right;
	text-align: right;
}
.intro>a {
	font-size: 20px;
}
.intro>.hub {
	width: 30%;
	height: 25%;
}


/*join*/
.content1 {
	width: 500px;
	height: 100%;
	margin: auto;
	background-color: white;
	text-align: center;
}

.img-circle {
	border-radius: 70%;
}

.join-form {
	width: 400px;
	text-align: center;
	padding-left: 25px;
	padding-right: 25px;
	background-color: white;
	margin: auto;
}

.join-header {
	padding-top: 30px;
}

.join-header1 {
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.join-form>.login-input {
	width: 350px;
	height: 40px;
	padding: 10px;
	margin: auto;
	margin-top: 20px;
}

.join-form>.idcheck-btn {
	width: 100px;
	height: 25px;
	float: right;
}

.join-form>.login-btn {
	width: 150px;
	height: 25px;
	margin-top: 20px;
}

.join-form>.relgoin-btn {
	width: 150px;
	height: 25px;
	margin-top: 20px;
	margin-left: 50px;
}

.group {
	display: none;
}

.state {
	display: none;
}

.img-box {
	margin: 20px;
}

/* login */
.login-form {
	width: 500px;
	height: 937px;
	margin: auto;
	text-align: center;
	background-color: white;
}

.loginsub>img {
	width: 350px;
	height: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.login-form>input {
	width: 350px;
	height: 50px;
	padding-left: 15px;
	padding-right: 15px;
	margin: auto;
	margin-bottom: 20px;
}

.login-form>hr {
	margin: auto;
}

.login-form>h4 {
	text-align: left;
	margin-left: 80px;
}

.login-form>.login-btn {
	margin-top: 20px;
}

.login-form>a {
	font-size: 10px;
	color: gray;
	padding-top: 10px;
}

.login-form>img {
	margin-top: 20px;
	margin-bottom: 20px;
}

.login-form>p {
	font-size: 10px;
}

/* 이메일 / 비밀번호 찾기 */
.ibbox {
	width: 500px;
	height: 937px;
	margin: auto;
	background-color: white;
	padding: 50px;
	padding-top: 100px;
}

.memberinfo-header {
	width: 500px;
	height: 70px;
	margin: auto;
	margin-bottom: 20px;
}

.member_box>.member_tab {
	width: 400px;
	height: 50px;
	text-align: center;
}

.member_box>.member_tab>a {
	float: left;
	width: 200px;
	height: 50px;
	padding: 15px;
	border: 1px solid #ddd;
	border-bottom: none;
	color: #aaaaaa;
	text-decoration: none
}

.member_box>.member_tab>.tab2 {
	border-left: none;
}

.member_content>.contents>.memberinfo-form {
	width: 400px;
	height: 400px;
	padding-top: 40px;
}

.member_box>.member_content>.contents>.memberinfo-form>input {
	width: 400px;
	height: 50px;
	margin: auto;
	margin-bottom: 30px;
	padding: 10px;
	color: #aaaaaa;
	border: 1px solid #ddd;
}

.member_box>.member_content>.contents>.memberinfo-form>.id-btn {
	margin-top: 100px;
}

.member_box>.member_content>.contents>.memberinfo-form>.pw-btn {
	margin-top: 20px;
}

.section-home>.childart1>.homeh1{
	margin-top: 40px;
}

.childart10 {
	width: 1300px;
	margin : auto;
	margin-top: 50px;
}


.childart10>h1 {
	width : 100%;
	height: 25px;
	float : left;
	margin-left: 20px;
	margin-bottom: 10px;
}

.childart10>.swiper-slide5 {
	width: 300px;
	height: 400px;
	float : left;
	margin-left: 12.5px;
	margin-right : 12.5px;
	margin-bottom: 20px;
}

.childart10>.swiper-slide5>.swiper-text5 {
	width: 300px;
	height: 100px;
}

.childart10>.swiper-slide5>.swiper-text5>.total_ctsname {
	width: 150px;
	height : 16px;
	float : left;
	font-size: 12px;
}

.childart10>.swiper-slide5>.swiper-text5>.total_level {
	width: 150px;
	height : 16px;
	float : right;
	text-align : right;
	font-size: 12px;
}

.childart10>.swiper-slide5>.swiper-text5>.total_sale {
	width: 150px;
	height : 16px;
	float : left;
	font-size: 12px;
}

.childart10>.swiper-slide5>.swiper-text5>.class_likes {
	width: 150px;
	height : 16px;
	float : right;
	text-align : right;
	font-size: 12px;
}
.childart10>.swiper-slide5>.swiper-text5>.total_title>a {
	width: 300px;
	height : 50px;
	font-size: 17px;
}











