
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	list-style: none;
  }

header {
	width: 1300px;
	height: 150px;
	margin: auto;
}

.section-home {
	width : 1300px;
	overflow : auto;
	margin: auto;
}

footer {
	width: 1300px;
	height: 100px;
	margin: auto;
	margin-top: 30px;
}

.content-home {
	background-color : black;
    margin: auto;
    
}

.bx-wrapper {
	margin: 0px auto;
	border : 5px black;
	-webkit-box-shadow : none;
}

a {
	color: black;
	text-decoration: none
}

.footertext {
	text-align: right;
	font-size: 10px;
}

li {
	list-style: none;
}

li a:hover {
	color: #8a8e8b;
}

/* header */
.logo {
	width: 150px;
	height: 50px;
	margin: 20px;
	float: left;
}

.search {
	width: 350px;
	height: 30px;
	margin: 30px;
	padding-left : 15px;
	padding-right : 15px;
	border: 1px solid black;
	font-size: 15px;
	border-radius: 50px;
	outline: none;
}

.top-right {
	float: right;
	display: inline-block;
	margin: 15px;
	font-size: 20px;
}

.top-right>ul>li {
	float: left;
	margin: 15px;
}

.menu-bar {
	width: 500px;
	font-size: 20px;
}

.menu-bar>ul {
	width: 500px;
	float: left;
}

.menu-bar>ul>li {
	float: left;
	margin-bottom: 15px;
	margin-right: 50px;
	margin-left: 20px;
}

.menu-bar1 {
	width: 200px;
	float: right;
	font-size: 20px;
	margin-right : 20px;
}

.menu-bar1>ul {
	width: 200px;
	float: right;
}

.menu-bar1>ul>li {
	float: right;
}

.suc {
	display: none;
	font-size: 17px;
}

.bef {
	display: block;
	font-size: 17px;
}

/* footer */
.bottom-bar {
	width: 1300px;
	height: 100px;
}

.bottom-sub {
	text-align: left;
	float: left;
	margin-top: 15px;
	margin-left:10px
}

.intro {
	text-align: right;
	float: right;
	margin-right:10px
}

.hub {
	width: 235px;
	height: 36px;
	margin-right:10px
}

.bottom-sub>a {
	text-align: left;
	font-size: 10px;
}


/*join*/
.content1 {
    width: 500px;
	height : 937px;
    margin : auto;
	background-color: white;
	text-align: center;
}

.img-circle {
	border-radius: 70%; 
}

.join-form {
	width : 400px;
	height : 937px;
	text-align: center;
	padding-left : 25px;
	padding-right : 25px;
	background-color: white;
	margin :auto;
}

.join-header {
	padding-top: 30px;
}

.join-header1 {
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.join-form>.login-input {
	width: 350px;
	height : 40px;
	padding: 10px;
	margin : auto;
	margin-top : 20px;
}

.join-form>.idcheck-btn {
	width: 100px;
	height : 25px;
	float : right;
}

.join-form>.login-btn {
	width: 150px;
	height: 25px;
	margin-top: 20px;
}

.join-form>.relgoin-btn{
	width: 150px;
	height: 25px;
	margin-top: 20px;
	margin-left : 50px;
}

.group {
	display: none;
}

.state {
	display: none;
}

.img-box {
	margin : 20px;
}

/* login */
.login-form {
	width : 500px;
	height : 937px;
	margin : auto;
	text-align: center;
	background-color: white;
}

.loginsub>img {
	width:  350px;
	height: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
}



.login-form>input {
	width: 350px;
	height : 50px;
	padding-left: 15px;
	padding-right : 15px;
	margin : auto;
	margin-bottom: 20px;
}

.login-form>hr {
	margin : auto;
}

.login-form>h4 {
	text-align: left;
	margin-left : 80px;
}

.login-form>.login-btn {
	margin-top : 20px;
}

.login-form>a {
	font-size: 10px;
	color : gray;
	padding-top: 10px;
}

.login-form>img{
	margin-top: 20px;
	margin-bottom: 20px;
}

.login-form>p {
	font-size: 10px;
}

/* 이메일 / 비밀번호 찾기 */
.ibbox {
	width : 500px;
	height : 937px;
	margin : auto;
	background-color: white;
	padding: 50px;
	padding-top: 100px;
}

.memberinfo-header {
	width: 500px;
	height: 70px;
	margin: auto;
	margin-bottom: 20px;
}

.member_box>.member_tab {
	width : 400px;
	height : 50px;
	text-align: center;
}

.member_box>.member_tab>a {
	float : left;
	width: 200px;
	height: 50px;
	padding: 15px;
	border: 1px solid #ddd;
	border-bottom: none;
	color : #aaaaaa;	
	text-decoration: none
}

.member_box>.member_tab>.tab2 {
	border-left: none;
}

.member_content>.contents>.memberinfo-form {
	width: 400px;
	height: 400px;
	padding-top: 40px;
}

.member_box>.member_content>.contents>.memberinfo-form>input {
	width: 400px;
	height: 50px;
	margin: auto;
	margin-bottom : 30px;
	padding: 10px;
	color : #aaaaaa;
	border: 1px solid #ddd;
}

.member_box>.member_content>.contents>.memberinfo-form>.id-btn {
	margin-top: 100px;
}

.member_box>.member_content>.contents>.memberinfo-form>.pw-btn {
	margin-top: 20px;
}



