@charset "UTF-8";

/* 마이페이지  공용 */
.my_default_btn {
	width: 180px;
	height: 40px;
	margin-bottom: 5px;
	background-color: black;
	color: white;
	border: none;
}

.page-title {
	font-size: 25pt;
	width: 1070px;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background-color: black;
	color: white;
	font-weight: bold;
	margin-bottom: 20px;
}

.table {
	text-align: center;
}

.table>tbody>tr>th {
	background-color: rgb(0, 0, 0);
	color: white;
	text-align: center;
}

.table>tbody>tr>td {
	vertical-align: middle;
}

.table-btn {
	background-color: black;
	padding: 5px;
	color: white;
	border: none;
	color: white;
}

.mp_section {
	width: 1300px;
	margin: 20px auto;
}

.mp_section a:link {
	text-decoration: none;
	color: black;
}

.mp_section a:visited {
	text-decoration: none;
	color: black;
}

.mp_section a:hover {
	text-decoration: none;
	color: black;
}

.mp_section>nav {
	display: block;
	float: left;
	width: 200px;
}

.mp_section>nav>div {
	width: 200px;
	padding: 10px;
}

.mp_section>nav>div>div:first-child {
	text-align: center;
	width: 180px;
	height: 130px;
	margin-bottom: 10px;
	width: 180px;
}

.mp_section>nav>div>div:first-child>a>img {
	border: 0.5px solid black;
}

.mp_section>nav>div>div:first-child>button {
	float: right;
}

.mp_section>nav>div>div:last-child {
	width: 180px;
	height: 30px;
	margin-top: 10px;
}

.mp_section>nav>div>div>button {
	clear: both;
}

.list-group {
	padding: 10px;
	margin-top: 50px;
}

.list-group-item {
	margin-top: 10px;
}

.list-group-item:hover {
	background-color: rgb(150, 150, 150);
	color: white;
}

.list-group>hr {
	height: 8px;
	background: black;
}

.mp_section>article {
	float: left;
	width: 1070px;
	margin-left: 30px;
}

article>div>span {
	width: 1070px;
	font-size: 18pt;
	font-weight: bold;
	display: block;
	height: 50px;
	line-height: 50px;
}

article>div .nav.nav-tabs {
	float: left;
	height: 40px;
	margin-top: 20px;
	margin-bottom: 50px;
}

article>div .nav.nav-tabs>li {
	width: 150px;
	text-align: center;
}

/* 강의  */
.mp_classInfo {
	clear: both;
	width: 1070px;
	height: 500px;
}

.mp_classInfo>img {
	float: left;
}

.mp_classInfo>div {
	float: left;
	width: 760px;
	height: 300px;
	margin-left: 10px;
}

.mp_classInfo>div>div:first-child {
	height: 250px;
}

.mp_classInfo>div>div:last-child>div:first-child {
	width: 580px;
	height: 40px;
	line-height: 80px;
	float: left;
}

.mp_classInfo>div>div:last-child>div:last-child {
	width: 180px;
	float: left;
	height: 50px;
	margin-top: 10px;
}

.class_info_contents>p:first-child {
	font-weight: bold;
}

.info_title {
	font-size: 18pt;
	font-weight: bold;
}

.class_info_contents>div {
	color: rgb(63, 63, 63);
}

.class_status>div {
	background: rgb(209, 209, 209);
	color: red;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

/* 회원 정보 */
.profile_image {
	width: 400px;
	height: 300px;
	margin: 0 auto;
	text-align: center;
	float: left;
}

.profile_image img {
	border: 0.5px solid black;
}

#member_profile {
	width: 380px;
	text-align: center;
	margin: 0;
	background-color: white;
	border: 0.3px solid black;
}

.profile_update_box {
	width: 650px;
	height: 300px;
	margin: 0 auto;
	margin-left: 10px;
	float: left;
}

.profile_update_box>div>span {
	width: 120px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
}

.profile_update_box>div>input {
	padding: 5px;
	width: 480px;
	height: 25px;
	line-height: 50px;
	color: black;
}

.profile_update_box>div>input:read-only {
	background-color: rgb(241, 241, 241);
}

.update-btn-box {
	clear: both;
	width: 1010px;
	height: 30px;
}

.update-btn-box>input[type="submit"] {
	float: right;
	margin-top: 20px;
}

/* 쿠폰 */
.coupon_input_box {
	width: 1070px;
	height: 80px;
}

.coupon_list {
	width: 1070px;
}

#cp_input {
	width: 500px;
	height: 40px;
}

.coupon_list>.coupon_box {
	width: 500px;
	padding: 10px;
	border: 1px solid rgb(41, 41, 41);
	margin-bottom: 10px;
}

.coupon_box>div {
	margin: 2px;
}

.coupon_box>div:nth-child(1) {
	font-size: 13pt;
	font-weight: bold;
}

.coupon_box>div:nth-child(2) {
	font-size: 10pt;
	font-weight: bold;
}

.coupon_box>div:nth-child(3) {
	font-size: 8pt;
}

.coupon_box>div:nth-child(4) {
	font-size: 8pt;
}

/* ------------------------------ 크리에이터 마이페이지  ------------------------------  */
/* 메인(온라인 강의) */
.mypage_sub_title {
	font-size: 14pt;
	font-weight: bold;
}

.c_myclass_info {
	clear: both;
	width: 1070px;
}

.c_myclass_info>img {
	float: left;
	width: 360px;
	height: 300px;
	margin-right: 10px;
}

.c_myclass_info>.c_myclass_detail {
	float: left;
	width: 700px;
	height: 300px;
	margin-bottom: 20px;
}

.c_myclass_detail>div {
	width: 700px;
	height: 50px;
}

.c_myclass_detail>div:nth-child(2) {
	height: 200px;
}

.c_myclass_detail>div:nth-child(3) {
	line-height: 80px;
}

.c_myclass_stuList {
	clear: both;
	width: 1070px;
	height: 200px;
}

/* 강의 등록 */
.class_sort {
	width: 200px;
	height: 50px;
	margin-bottom: 20px;
}

.class_sort>diV {
	width: 100px;
	float: left;
	height: 50px;
	line-height: 50px;
	border: 0.5px solid black;
	text-align: center;
}

.class_info_form {
	clear: both;
	width: 1070px;
}

.class_info_form>div:nth-child(2) {
	border: black solid 0.5px;
	width: 680px;
	float: left;
	height: 450px;
	padding: 10px;
}

.class_info_title {
	font-size: 14pt;
	font-weight: bold;
}

.class_info_form>div:nth-child(2)>input[type="text"] {
	width: 660px;
}

.class_info_form>div:nth-child(2)>textarea {
	width: 660px;
}

.class_profile_image {
	width: 370px;
	height: 300px;
	margin: 0 auto;
	margin-right: 20px;
	text-align: center;
	float: left;
	padding: 10px;;
}

#class_profile {
	width: 345px;
	text-align: center;
	margin: 0;
	background-color: white;
	border: 0.3px solid black;
}

.class_video_list {
	float: left;
	width: 1070px;
}

#vf_list {
	width: 1070px;
	border: 0.5px solid rgb(150, 150, 150);
	margin: 5px 0 20px 0;
}

#vf_list>tbody>tr>th {
	background-color: rgb(0, 0, 0);
	height: 40px;
	text-align: center;
	color: white;
}

#vf_list>tbody>tr>td {
	height: 40px;
	border: 0.5px solid rgb(150, 150, 150);
	padding: 5px;
}

#vf_list>tbody>tr>td>input {
	width: 80%;
}

/* 강의 수정 */
.spec_images_wrap img{
	width : 80px;
	height:80px;
}