@charset "UTF-8";
        * {
            margin: 0;
            padding: 0;
            font-family: 'Nanum Gothic', sans-serif;
        }
/*
        header {
            background-color: rgb(238, 236, 236);
            margin: 0 auto;
            width: 1300px;
            height: 150px;
        }

        header>div {
            margin: 0 auto;
            width: 1300px;

            height: 70px;
            background-color: rgb(226, 226, 226);
        }
*/
        section {
            width: 100%;
            margin: 0 auto;
            /*    background-color: rgb(157, 212, 230);
            height: 2731px;*/
            display: flow-root;
        }

        footer {
            margin: 0 auto;
            width: 1300px;
            height: 100px;
        }

        article:first-child {
            /* background-color: rgb(136, 201, 255);*/
            margin: 0 auto;
            width: 100%;
            height: 350px;
        }

        div.wrap {
            width: 1300px;
            margin: 0 auto;

        }

        span.cate {
            float: left;
            width: 200px;
            margin: 0 auto;
            /*    background-color: rgb(255, 255, 255);*/
        }

        span.sumnail {
            float: left;
            width: 1080px;
            margin-left: 20px;
            /*    background-color: rgb(138, 25, 138);*/

        }

        div.cate_container {
            margin-top: 15px;
            text-align: center;
            /*    background: rgb(248, 248, 249);*/
        }

        .category {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            justify-content: space-between;
            height: 50px;

            cursor: pointer;
            border-bottom: 1px solid rgb(237, 239, 240);
            flex: 1 1 0%;
            padding: 0px 16px;
            color: rgb(71, 70, 70);
        }

        .category:link {
            text-decoration: none;

        }

        .category:hover {
            background-color: rgb(248, 248, 249);
        }

        .row {
            margin: 0 auto;
            float: left;
        }

        .sumnail_box {
            display: inline-block;
            width: 300px;
            height: 400px;
            margin: 25px 20px;
            border-radius: 10px;
            /* background-color: cadetblue;*/
        }

        .sumnail_box:hover {
            cursor: pointer;
        }

        .blank {
            width: 1080px;
            height: 20px;
            margin: 0 auto;
        }

        div.row>h1,
        h5 {
            margin: 0 0 0 20px;
            line-height: 150%;
        }

        h5 {
            color: rgb(124, 124, 124);
        }

        .cate_sel_title{
            margin: 0 0 0 20px;
            line-height: 150%;
        }

        .allClass{
            line-height: 150%;
            margin: 10px 0 0px 20px;
        }

        #main_img {
            background-size: cover;
        }

        .class_img_div {
            margin: 0 0 5px 0;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            width: 300px;
            height: 230px;
        }

        .class_img_div:hover img {
            transform: scale(1.1);
        }

        .class_img {
            width: 300px;
            height: 230px;
            display: inline-block;
            object-fit: cover;
            transition: 0.5s all ease-in-out;
            border-radius: 10px;
        }

        .categories,
        .teacher_name {
            display: inline;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: normal;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: rgb(27, 28, 29);
            font-weight: 600;
            margin: 0px 5px 10px 5px;
            overflow: hidden;
        }

        .class_explain {
            font-size: 16px;
            font-weight: normal;
            line-height: 20px;
            letter-spacing: normal;
            color: rgb(27, 28, 29);
            height: 55px;
            display: inline-flex;
            margin: 20px 0 0 6px;
            overflow: hidden;
            margin: 0px 5px;
            width: 300px;
            padding: 8px 0;
        }

        .class_likes {
            display: inline;
            margin: 0px 3px 0px 8px;
            color: #9fa3a7;
        }

        .class_likes:first-child {
            margin-top: 30px;
        }

        .class_likes:last-child {
            font-size: 15px;
            font-weight: normal;
            line-height: 10px;
            letter-spacing: normal;
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
            color: #9fa3a7;
            margin: 0px 8px 0px 0px;
            display: inline;
        }

        .hr {
            margin: 5px 2px;
            border-top: 1px solid rgb(224, 224, 224);
            width: 290px;
        }

        .class_price {
            font-size: 1.3em;
            margin: 0 0 0 6px;
            padding: 6px 0 5px 0;

        }

        .class_startdate {
            font-size: 0.7em;
            margin: 0 0 0 6px;
            border: 1px solid rgb(223, 223, 223);
            background-color: rgb(223, 223, 223);
            border-radius: 2px;
            display: inline-flex;
            color: rgb(201, 28, 63);
            padding: 1px 2px;
        }

        .atag_sum {
            color: rgb(27, 28, 29);
        }

        .atag_sum:link {
            text-decoration: none;
            color: rgb(27, 28, 29);
        }

        .next_btn {
            margin: 0;
            position: relative;
            top: -250px;
            right: 0;
            left: 0px;
            z-index: 1;
            width: 40px;
            height: 40px;
            right: 0px;
            border-color: transparent;
            background-color: transparent;
            /* top: calc((100% - 172px) / 2);transform: translateY(-50%) translateX(52px);*/
        }

        .next_btn:hover {
            cursor: pointer;
            background-color: #f5f5f5;
        }

        .next_btn:visited {
            border-color: transparent;
            border: none;
            background-color: #f5f5f5;

        }

        .next_btn:active {
            border-color: transparent;
            border: none;
            background-color: #f5f5f5;

        }

        .next_btn.disabled {
            color: rgb(221, 224, 226);
            background-color: transparent;
        }

        ::selection {
            background-color: rgb(255, 89, 70);
            color: rgb(255, 255, 255);
        }
        a{
            text-decoration: none;
            color: rgb(27, 28, 29);
        }
        .topList{
        	display: block;
		    height: 500px;
		    overflow: hidden;
        }