* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	padding: 0;
	list-style: none;
	/* background-color: white; */
}

section {
	margin: auto;
	/*  background-color: rgba(255, 68, 0, 0.349); */
}
/*메인이미지*/
/* .sinfo_img {
            width: 1000px;
            height: 600px;
            margin-top: 5px;
            display: block;
        } */
.sinfo_img {
	width: 950px;
	height: 600px;
	/* background-color: lightyellow; */
	margin: 5px 20px 5px 0px;
	float: left;
	display: block;
	border-radius: 10px;
}

.sinfo_img img {
	width: 950px;
	height: 600px;
	/* background-color: lightyellow; */
	float: left;
	border-radius: 10px;
}

/* 메인이미지 종료 */
/* 상품디테일시작 */
div.s_warp {
	width: 1300px;
	height: 10000px;
	margin: 0px auto;
	/* background-color: bisque; */
}

div.sp_title1 {
	width: 1000px;
	padding-top: 5px;
	height: 40px;
	float: left;
	font-size: 25px;
	color: rgba(56, 56, 56, 0.788);
}

div.sp_title {
	width: 1000px;
	height: 40px;
	float: left;
	font-size: 25px;
	color: rgba(56, 56, 56, 0.788);
}

/* 상품상세 */
.sinfo_detail {
	width: 1000px;
	height: 8000px;
	float: left;
	display: block;
}

.sinfo_detail img {
	width: 950px;
	height: 7950px;
	margin-right: 20px;
}

/* 상품리뷰 */
.sinfo_rvall {
	width: 950px;
	/* height: 500px; */
	float: left;
}

.rp_p {
	margin-top: 10px;
	margin-bottom: 0;
}

.replyForm {
	padding: 10px 0;
	width: 950px;
}

.input_text {
	margin: 0px 20px;
}

.input_area {
	margin: 10px 0;
}

#repCon {
	font-family: '맑은 고딕', verdana;
	padding: 5px;
	width: 880px;
	height: 100px;
	border: 1px soild lightsteelblue;
	float: left;
	resize: none;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 1;
	color: #333;
	box-sizing: border-box;
	line-height: 18px;
	font-size: 16px;
}

button#reply_btn {
	padding: 5px 10px;
	margin: 10px 0;
	color: black;
	border: none;
	position: relative;
	width: 51px;
	height: 40px;
	line-height: 20px;
	font-size: 15px;
	font-weight: 400;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
	border-radius: 5px;
	left: 840px;
}

button#reply_btn:hover {
	background: #fff;
	color: black;
}

button#reply_btn:before, button#reply_btn:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: rgb(193, 191, 194);
	transition: 400ms ease all;
}

button#reply_btn:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

button#reply_btn:before, button#reply_btn:after {
	width: 100%;
	transition: 800ms ease all;
}

div.replyList {
	padding: 0;
	margin: 0;
	width: 900px;
	
}

div.replyList ol {
	padding: 0;
	margin: 0;
}

div.replyList ol li {
	padding: 10px 0;
	border-bottom: 2px solid #ccc;;
	border-top: 2px solid #ccc;
	;
}

.userName {
	font-size: 20px;
	font-weight: 600;
}

div.replyList div.userInfo .date {
	color: #999;
	display: inline-block;
	margin-left: 10px;
}

.warning_ico {
	float: right;
	margin-right: 30px;
}
.delite_ico {
	float: right;
	margin-right: 10px;
}



.replyContent {
	padding: 10px;
	margin: 20px 0px;
	margin-left: 10px;
	border: 2px solid #eee;
	width: 880px;
	font-size: 16px;
}

/* 상품가격 */
.paymentSection {
	box-shadow: rgba(41, 42, 43, 0.16) 0px 2px 6px -2px;
	padding: 24px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(255, 255, 255);
	border-image: initial;
	width: 300px;
	height: auto;
	position: sticky;
	top: 0;
	left: 0;
	float: left;
	background-color: white;
}

.teacher_name {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.15px;
	display: block;
	color: rgb(168, 174, 179);
	font-weight: bold;
	margin: 10px 4px;
}

.class_explain {
	font-size: 20px;
	font-weight: bold;
	line-height: 28px;
	color: rgb(27, 28, 29);
	word-break: keep-all;
	margin: 0px 0px 12px 0PX;
}

.categories, .class_startdate {
	font-size: 11px;
	font-weight: normal;
	line-height: 16px;
	letter-spacing: normal;
	color: rgb(255, 255, 255);
	margin: 0px;
	display: inline-block;
	margin: 0px 0px 15px 0PX;
}

.cate_lable, .class_startdate {
	min-width: 24px;
	height: 24px;
	padding-left: 6px;
	padding-right: 6px;
	background-color: rgb(62, 64, 66);
	display: inline-flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	box-sizing: border-box;
	border-radius: 3px;
	flex: 0 0 auto;
}

.lable_container {
	margin-bottom: 4px;
}

.class_price {
	font-size: 30px;
	font-weight: bold;
	color: rgb(27, 28, 29);
	line-height: 28px;
	display: flex;
	margin: 0px 0 30px 0;
}

.like_container {
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 16px;
	text-align: center;
}

.likebtn {
	cursor: pointer;
	box-sizing: border-box;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: row;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	outline: none;
	flex: initial;
	margin: 16px 0;
	width: auto;
	display: inline-flex;
	vertical-align: middle;
	color: rgb(27, 28, 29);
	background-color: rgb(248, 248, 249);
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -0.2px;
	height: 40px;
	text-decoration-line: none;
	border-radius: 3px;
	padding: 0px 16px;
	transition: background-color 0.1s ease 0s;
}

::selection {
	background-color: rgb(255, 89, 70);
	color: rgb(255, 255, 255);
}

.like_num {
	box-sizing: border-box;
	color: rgb(27, 28, 29);
	font-weight: 500;
	font-size: 14px;
	letter-spacing: -0.2px;
	margin-bottom: 3px;
	margin-left: 3px;
}

.class_submitbtn {
	cursor: pointer;
	width: 100%;
	display: flex;
	vertical-align: middle;
	color: rgb(255, 255, 255);
	background-color: rgb(255, 146, 43);
	font-weight: 700;
	font-size: 16px;
	letter-spacing: -0.2px;
	height: 48px;
	text-decoration-line: none;
	border-radius: 3px;
	padding: 0px 20px;
	transition: background-color 0.1s ease 0s;
	box-sizing: border-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: row;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	outline: none;
	margin: 0px;
	padding: 0px;
	flex: initial;
	margin: 16px 0;
}

.hr {
	margin: 5px 2px;
	border-top: 1px solid rgb(209, 208, 208);
	width: 99%;
}

.btn_div {
	display: inline-block;
	margin: 0 a;
	width: calc(50%);
}

.btn_div:first-child {
	margin: 0 16px 0 0;
}

.like_container>div>button {
	width: calc(100%);
}

.refund_alert {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-size: 11px;
	font-weight: normal;
	line-height: 16px;
	letter-spacing: normal;
	text-align: center;
	color: rgb(168, 174, 179);
	margin: 16px 0px 0px;
}

.likebtn:active, .likebtn:hover {
	background-color: rgb(221, 221, 225);
}

.class_submitbtn:hover, .class_submitbtn:active {
	background-color: rgb(247, 120, 0);
}

.fgxYOw {
	display: flex;
	flex-direction: column;
	width: 480px;
	max-height: 800px;
	background-color: rgb(255, 255, 255);
	box-sizing: border-box;
	box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 5px, rgba(0, 0, 0, 0.02) 0px 6px
		4px, rgba(0, 0, 0, 0.03) 0px 9px 6px, rgba(0, 0, 0, 0.03) 0px 16px
		12px, rgba(0, 0, 0, 0.08) 0px 24px 24px;
	padding: 32px;
	border-radius: 8px;
}

.jJFvBj {
	white-space: pre-line;
	word-break: break-all;
	flex: 1 1 auto;
}

.rzudF {
	font-size: 24px;
	font-weight: bold;
	color: rgb(27, 28, 29);
	line-height: 34px;
	letter-spacing: -0.4px;
	margin: 0px;
}

h3 {
	color: rgb(24, 32, 38);
	font-weight: 600;
	line-height: 25px;
	font-size: 22px;
	margin: 0px 0px 10px;
	padding: 0px;
	display: block;
	font-size: 1.17em;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.fsyYOM {
	box-sizing: border-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: row;
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	outline: none;
	margin: 0px;
	padding: 0px;
	flex: initial;
}

svg:not(:root) {
	overflow: hidden;
}

:not(svg) {
	transform-origin: 0px 0px;
}

.cSqgOv {
	flex-direction: row;
	-webkit-box-pack: justify;
	justify-content: space-between;
	display: flex;
	flex: 1 1 0%;
}

.llVJRo {
	font-size: 11px;
	font-weight: normal;
	color: rgb(27, 28, 29);
	line-height: 16px;
	letter-spacing: normal;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	margin: 0px;
}

.ipUSgi {
	width: 48px;
	height: 48px;
	background-color: rgb(255, 232, 18);
	min-height: auto;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	margin-bottom: 8px;
	border-radius: 32px;
}

.gFdtJW {
	width: 48px;
	height: 48px;
	background-color: rgb(85, 172, 238);
	min-height: auto;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	margin-bottom: 8px;
	border-radius: 32px;
}

.jdAwxw {
	width: 48px;
	height: 48px;
	background-color: rgb(59, 89, 152);
	min-height: auto;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	margin-bottom: 8px;
	border-radius: 32px;
}

.dYmVXl {
	-webkit-box-align: center;
	align-items: center;
	background-color: rgb(248, 248, 249);
	display: flex;
	height: 48px;
	-webkit-box-pack: center;
	justify-content: center;
	width: 120px;
	border-radius: 20px;
}

.gcriev {
	margin-left: 4px;
}

.fVtWky {
	transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.jvrfBM {
	position: fixed;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	z-index: 10000;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: rgba(0, 0, 0, 0.72);
	opacity: 1;
	visibility: visible;
	overflow: hidden;
	overscroll-behavior: contain;
}

*, ::before, ::after {
	box-sizing: border-box;
}

.gzcrzB {
	display: flex;
	flex-direction: row;
	margin-bottom: 16px;
	flex: 0 0 auto;
}

.fsyYOM:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.bDLHXT {
	display: inline-flex;
	vertical-align: middle;
	color: rgb(27, 28, 29);
	background-color: transparent;
	width: 32px;
	height: 32px;
	flex: 0 0 auto;
	padding: 0px;
	border-radius: 3px;
	transition: background-color 0.1s ease 0s;
}

.full_heart path {
	fill: rgb(252, 61, 70);
}

/* 배송일자 */
.sinfo_ddate {
	margin-top: 10px;
	width: 950px;
	height: 150px;
	float: left;
}

.ddate {
	border-radius: 10px;
	margin: 10px 20px;
	width: 900px;
	height: 100px;
	padding-top: 10px;
	background-color: rgb(241, 237, 243);
	padding: 0px 35px;
}

.ddate_info1 {
	padding-top: 30px;
	background-color: rgb(241, 237, 243);
}

.ddate_info2 {
	background-color: rgb(241, 237, 243);
	font-size: 12px;
	padding: 0px 35px;
}

/* 환불공지 */
.sinfo_refund {
	margin-top: 10px;
	width: 950px;
	height: 120px;
	float: left;
}

.refund {
	border-radius: 10px;
	margin: 10px 20px;
	width: 900px;
	height: 65px;
	padding-top: 10px;
	background-color: rgb(241, 237, 243);
	padding: 0px 35px;
}

.refund img {
	float: left;
	margin: 15px;
	background-color: rgb(241, 237, 243);
}

.refund_info2 {
	float: left;
	padding-top: 10px;
	margin-top: 10px;
	background-color: rgb(241, 237, 243);
}

div.refund_info2 span {
	background-color: rgb(241, 237, 243);
	color: red;
}

/*fAQ*/
.sinfo_faq {
	display: block;
	float: left;
	width: 900px;
	height: 500px;
}

.accordion {
	margin-top: 10px;
	width: 900px;
}

input[id*="answer"] {
	display: none;
}

input[id*="answer"]+label {
	display: block;
	padding: 20px;
	border-top: 1px solid rgba(56, 56, 56, 0.788);
	border-bottom: 0;
	color: rgba(56, 56, 56, 0.788);
	font-weight: 900;
	cursor: pointer;
	position: relative;
}

input[id*="answer"]+label em {
	position: absolute;
	top: 50%;
	right: 10px;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	display: inline-block;
	
}

input[id*="answer"]+label+div {
	max-height: 0;
	transition: all .35s;
	overflow: hidden;
	background: rgb(241, 237, 243);
	font-size: 11px;
}

input[id*="answer"]+label+div p {
	display: inline-block;
	padding: 10px 30px;
	font-size: 13px;
}

input[id*="answer"]:checked+label+div {
	max-height: 100px;
}

input[id*="answer"]:checked+label em {
	background-position: 0 -30px;
}