* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

header {
	width: 1300px;
	height: 150px;
	margin: auto;
}

section {
	width: 1300px;
	overflow:auto;
	margin: auto;
}

footer {
	width: 1300px;
	height: 100px;
	margin: auto;
	margin-top: 30px;
}

/* °øÅë */
a {
	color: black;
	text-decoration: none
}

span {
	text-align: right;
	font-size: 10px;
}

li {
	list-style: none;
}

li a:hover {
	color: #8a8e8b;
}

/* header */
.logo {
	width: 150px;
	height: 50px;
	margin: 20px;
	float: left;
}

.search {
	width: 350px;
	height: 30px;
	margin: 30px;
	padding-left : 15px;
	padding-right : 15px;
	border: 1px solid black;
	font-size: 15px;
	border-radius: 50px;
	outline: none;
}

.top-right {
	float: right;
	display: inline-block;
	margin: 15px;
	font-size: 20px;
}

.top-right>ul>li {
	float: left;
	margin: 15px;
}

.menu-bar {
	width: 500px;
	font-size: 20px;
}

.menu-bar>ul {
	width: 500px;
	float: left;
}

.menu-bar>ul>li {
	float: left;
	margin-bottom: 15px;
	margin-right: 50px;
	margin-left: 20px;
}

.menu-bar1 {
	width: 200px;
	float: right;
	font-size: 20px;
	margin-right : 20px;
}

.menu-bar1>ul {
	width: 200px;
	float: right;
}

.menu-bar1>ul>li {
	float: right;
}

.suc {
	display: none;
}

.bef {
	font-size: 17px;
}

/* footer */
.bottom-bar {
	width: 1300px;
	height: 100px;
}

.bottom-sub {
	text-align: left;
	float: left;
	margin-top: 15px;
	margin-left:10px
}

.intro {
	text-align: right;
	float: right;
	margin-right:10px
}

.hub {
	width: 235px;
	height: 36px;
	margin-right:10px
}

.bottom-sub>a {
	text-align: left;
	font-size: 10px;
}


/*join*/

.join-form {
	width : 600px;
	height : 937px;
	margin : auto;
	text-align: center;
	background-color: white;
}
.join-header {
	padding-top: 30px;
}

.join-header1 {
	padding-bottom: 20px;
	margin-bottom: 30px;
}

.join-form>input {
	width: 350px;
	height : 50px;
	padding: 15px;
	margin : auto;
	margin-top : 20px;
}

.group {
	display: none;
}

/* login */
.login-form {
	width : 600px;
	height : 937px;
	margin : auto;
	text-align: center;
	background-color: white;
}

.login-form>img {
	width:  350px;
	height: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
}



.login-form>input {
	width: 350px;
	height : 50px;
	padding: 15px;
	margin : auto;
	margin-bottom: 20px;
}

.login-form>hr {
	margin : auto;
}

.login-form>h4 {
	text-align: left;
	margin-left : 130px;
}
.login-form>a {
	font-size: 10px;
	color : gray;
	padding-top: 10px;
}

.login-form>.login-btn{
	margin-top: 20px;
}

.login-form>p {
	font-size: 10px;
}



article.childart>h1 {
	margin-top : 30px;
	margin-left : 15x;
}


article.childart>div{
	float: left;
	width: 300px;
	height: 400px;
	margin: 12.5px;
	margin-top: 20px;
	margin-bottom: 30px;
}


article.childart>div>img{
	float: left;
	width: 300px;
	height: 300px;
}

article.childart>div>h5 {
	line-height : 20px;
}


/* member group */
.group {
	width : 200px;
	height: 200px;
}
.