@charset "UTF-8";

.content-home {
	height: 300px;
	width: 100%;
	}
	
.content-home>img {
	height: 300px;
	width: 78.2%;
	margin-left: 10.9%;
}

.section-home>.top10menu {
	width: 78.2%;
	margin : auto;
	background: blue;
	padding-bottom: 50px;
	padding: 20px;
}

.section-home>.top10menu>.top10 {
	float : left;
	background-color: red;
}