        *{
            margin: 0;
            padding: 0;
            font-family: 'Nanum Gothic', sans-serif;
        }
        html{
        }
        section{
            align-content: center;
            margin: 0px auto;
            height: auto !important;
            width: 100% !important;
            overflow: hidden !important;
            float: left;
            display: table-header-group;
        }
        header{
            margin: 0 auto;
            width: 1300px;
            height: 150px;
        }
        footer{
            margin: 0 auto;
            width: 1300px;
            height: 100px;
        }
        div.nav{
            float: left;
            width: 200px;
            margin: 0 auto;
        }
        div.nav>button {
            background: none;
            color: black;
            border: 0px;
            border-bottom: 1px solid darkgrey;
            padding: 10px;
            width: 200px;
            margin: 5px;
            text-align: center;
            float: left;
        }
        a {
        text-decoration : none;
        color : black;
        }
        a:hover {
            background-color: rgb(248, 248, 249);
        }
    
        .childart{
            float: left;
            width: 1080px;
            height: auto;
            margin-left: 20px;
        }

        
        .main-image{
            margin: 5px 0px;
            height: 500px;
            display: block;
            background-color:#262626
        }
        #main-image{
            background: url("../../../resources/images/offline/offline.png");
            width: 1300px;
            height: 500px;
            display: block;
            background-size: 100% 100%;
            margin: 0px auto;
            align-content: center;
        }
        .content{
            width: 1300px;
            margin: 0px auto;
        }

        li{
	        list-style: none;
            float: left;
        }
        .childart>article{
            margin: 0 auto;
            float: left;
        }
        .child1{
            position: relative;
            height: 452px;
            width: 1080px;
            margin: 0px auto;
            float: left;
        }
        #new{
            width: 1080px;
            margin: 0 auto;
            float: left;
            margin-left: 30px;
        }
        #new>div{
            display: inline-block;
            width: 300px;
            height: 400px;
            margin: 20px;
            border-radius: 10px;
            border: 0px;
        }
        .child2{
            height: 1875px;
            width: 1080px;
        }
        #new>div>a>div>img{
            width: 300px;
            height: 230px;
            display: inline-block;
            object-fit: cover;
            transition: 0.5s all ease-in-out; 
            border-radius: 10px;
        }
        #online-name{
            font-size: 16px;
            font-weight: normal;
            line-height: 20px;
            letter-spacing: normal;
            color: rgb(27, 28, 29);
            height: 60px;
            display: inline-flex;
            margin: 20px 0 0 6px;
            overflow: hidden;
            margin: 0px 5px;
            width: 300px;
            padding: 8px 0;
        }
        #online-price{
            width: 160px;
            height: 10px;
        }
        .nav>li{
            width: 200px;
            height: 50px;
            line-height: 50px;
            font-size: 16px;
            text-align: center;
            cursor: pointer;
            border-bottom: 1px solid rgb(237, 239, 240);
            display: flex;
            padding: 0px 16px;
            color: rgb(71, 70, 70);
            flex: 1 1 0%;
            justify-content: space-between;
            box-sizing: border-box;
        }
        .nav>li:link{
            text-decoration: none;
        }
        .nav>li:hover{
            background-color: rgb(248, 248, 249);
        }
        .nav{
            margin-top: 15px;
            text-align: center;
        }
        .class_img{
            margin: 0px 0px 5px 0px;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
        }
        .class_img:hover img{
            transform: scale(1.1);
        }
        #sub-cate, #creator-name, #place{            
            display: inline;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: normal;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: rgb(27, 28, 29);
            font-weight: 600;
            margin: 0px 5px;
            overflow: hidden;
        }
        #class_likes{
            display: inline;
            margin: 0px 3px 0px 8px;
            color: #9fa3a7;
        }
        #class_likes:first-child{
            margin-top: 30px;
        }
        #class_likes:last-child{
            font-size: 15px;
            font-weight: normal;
            line-height: 10px;
            letter-spacing: normal;
            display: inline-flex;
            -webkit-box-align: center;
            align-items: center;
            color: #9fa3a7;
            margin: 0px 8px 0px 0px;
            display: inline;
        }
        #hr{
            margin: 5px 2px;
            border-top: 1px solid  rgb(179, 179, 179);
            width: 290px;
        }
        #online-price{
            font-size: 1.3em;
            margin: 0 0 0 6px;
            padding: 6px 0 5px 0;
        }
        h1, h5{
            margin: 0 0 0 20px;
            line-height: 150%;            
        }
        h1{
            font-size: 24px;
        }
        h5{
            color: rgb(124, 124, 124);
        }
        .blank{
            width: 1080px;
            height: 20px;
            margin: 0 auto;
        }
        