@charset "UTF-8";

#filter {
	width: 100px;
	margin: 0px auto;
	float: right;
	font-size: 17px;
	cursor: pointer;
}

#filter img {
	width: 15px;
	height: 15px;
	margin: 5px 5px 0px 0px;
	align-content: center;
}

.nav>li>a:link {
	text-decoration: none;
}

.filter_modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background-color: rgba(0, 0, 0, 0.72);
    z-index:1;
}

.filter_modal-wrap {
	position : relative;
 	align-content: center;
	margin: 300px auto;
	height: 200px;
	width: 400px;
	background-color: white;
}

.filter_text {
	width: 100%;
	height: 60px;
	background-color: black;
	margin: 0px ;
	color: white;
	line-height: 60px;
	font-size: 20px;
	font-weight: bold;
	box-sizing: border-box;
	padding: 0px 20px;
}
.filter_modal>* {
	box-sizing: border-box;
}

.filter_modal_wrap>form {
	width: 96%;
	margin: 0px auto;
}
div.filter1, div.filter2, div.filter3 {
	width: 160px;
	height: 70px;
	float: left;
	margin: 10px;
}
div.filter1>input{
	margin: 15px 15px 0px;
}
div.filter1>input>div{
	width: 160px;
	height: 30px;
	margin: 0px auto;
}
.filter_btn{
	width: auto;
	cursor: pointer;
	margin-left: 230px;
}
